.head { width: 100%;
text-align: center;
padding: 15px;
margin-bottom: 50px;}
.card {background-color: red;
width: 100%;
padding: 15px;}
.footer {
    background-color: rgb(0, 0, 76);
padding: 80px;
display: flex;
justify-content: center;}

.social {
    width: 80px; 
    height: 80px;
    background-color: white;
border-radius: 50%;
margin: 10px;

display: flex;
justify-content: center;
align-items: center;
transition: 1s;}

.social:hover {background-color: yellow;
border-radius: 5px;}
 
body {
  font-family: "Playpen Sans", cursive;}